@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.background {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(47,10,10,1) 60%, rgba(89,3,3,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    height: 10vh;
    margin-top: 1vh;
    margin-left: 2vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: stretch;
}

.title {
    color: whitesmoke;
}

.logo {
    width: 10vh;
    height: 10vh;
}

.icon {
    width: 4vw;
}

.body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.mainText {
    align-items: center;
    max-width: 70vw;
}

.callButton {
    height: 10vh;
}

.servicos {
    display: flex;
    height: 20vh;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 80vw;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    
}

.servico {
    flex-direction: column;
    margin: 10px;
    align-items: center;
    width: 20vw;
    display: flex;
}

.row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column {
    flex-direction: column;
    justify-content: space-between;
}

.bodyText {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.card {
    display: flex;
    min-height: 20vh;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 10vh;
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    align-items: center;
}

.rowCard {
    display: flex;
    min-height: 20vh;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 10vh;
    background-color: white;
    border-radius: 10px;
    width: 60vw;
    align-items: center;
    padding: 2vw;
}

.portifolioImg {
    min-width: 10vw;
    max-width: 15vw;
    margin-right: 2vw;
}

.form {
    display: flex;
    min-height: 20vh;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 10vh;
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    align-items: center;
    padding: 3vw;
}

.footer {
    min-height: 10vh;
    background-color: white;
    margin-top: 3vh;
}

h1 {
    color: white;
    font-size: 8vh;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h2 {
    color: white;
    font-size: 4vh;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h3 {
    color: black;
    font-size: 3vh;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h4 {
    color: black;
    font-size: 2.5vh;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 1vw;
}
